.custom-nav {
  background-color: rgb(240, 224, 224);
}

body {
  background-color: rgb(243, 234, 234);
}

main,
section {
  padding: 0 20px 0 20px;
  padding-top: 50px;
  margin-top: -50px;
}

p,
h2 {
  text-align: center;
}

header {
  align-items: center;
  background-color: rgb(240, 224, 224);
}

.round-border {
  border-radius: 5px;
}

/*The following styles are used in the flip cards in my hobbies*/
.flip-card {
  background-color: transparent;
  width: 410px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 5px;
  border-radius: 15px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 15px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(240, 224, 224);
  transform: rotateY(180deg);
}

.image-flip-card {
  width: 410px;
  height: 300px;
  border-radius: 15px;
}

.foot {
  list-style: none;
  display: flex;
}

.icons {
  padding: 10px 35px 10px 35px;
  margin: auto;
}

/* Comentarios: Muy bien organizado el CSS. Es entendible y usaste cosas interesantes como lo de las tarjetas
que se voltean, me gusto mucho eso. Creo que la seleccion de colores pudo haber sido mejor. */
